html, body{
    height: 100%;
    width: 100%;
}
.navbar{
    padding: 1% 0;
    font-size: 1.2em;
    border: none;
    background-color: rgba(0,0,0,0);
}
.navbar-default .navbar-nav li a{
    color: #219ebc;
}
.navbar-default .navbar-nav li a:hover, .navbar-default .navbar-nav li a.active{
    color: #fb8500;
    text-decoration: none;
}
.dropdown-item{
    margin-left: 10px;
}
.dropdown:hover .dropdown-menu{
    display: block;
}
.dropdown-menu{
    margin-top: 0;
}
#home{
    background: url(mountains.jpeg) no-repeat center fixed;
    display: table;
    height: 100%;
    position: relative;
    width: 100%;
    background-size: cover;
}
.landing-text{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    width: 50%;
}
.text{
    width: 70%;
    margin: auto;
    padding: 10px;
    font-size: larger;
}
.landing-text h1{
    font-size: 600%;
    font-weight: 700;
    font-family: 'caveat', cursive;
}
.btn{
    background-color: #8ecae6;
    color: #fb8500;
}
.padding{
    padding: 80px 0;
}
footer{
    width: 100%;
    padding: 5% 5% 10% 5%;
    color: #8ecae6;
}
 


