body{
  height: 500px;
  width: 100%;
  background: linear-gradient(to top right, #ED90F0, #F0EE81);
  margin-top: 40%;
  margin-left: 30%;
}

.buttons button{
  border-radius: 20px;
  text-align: center;
  font-size: 20px;
  background-color: white;
  padding: 15px;
  margin: 20px;
}
.modalWindow{
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 25%;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}
.modalcontent{
  text-align: center;
  background-color: white;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 70%;
}
.close{
  float: right;
}
.close:hover{
  background-color: lightgray;
}
